html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
  body {
    color: white;
    background: rgb(236 242 248);
  }
}

.app-bar {
  background: linear-gradient(90deg, rgba(199,131,224,1) 0%, rgba(208,208,208,1) 35%, rgba(0,213,255,1) 100%)}
